schemas/loci.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema" elementFormDefault="qualified">
  <xs:element name="loci">
    <xs:complexType>
      <xs:sequence>
        <xs:element ref="locus" minOccurs="0" maxOccurs="unbounded"/>
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  
  <xs:element name="locus">
    <xs:complexType>
      <xs:sequence>
        <xs:element name="allele" minOccurs="1" maxOccurs="unbounded"/>
      </xs:sequence>
        <xs:attribute name="name" type="xs:string" use="required"/>
    </xs:complexType>
  </xs:element>
</xs:schema>